<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Broadleaf.Windows.Forms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CustomFormatterXmlFileName" value="CustomFormatter.xml" />
  </appSettings>
  <userSettings>
    <Broadleaf.Windows.Forms.Settings>
      <setting name="ErrStr_InvalidFormType" serializeAs="String">
        <value>対象のFromのインターフェース型は無効です。</value>
      </setting>
    </Broadleaf.Windows.Forms.Settings>
  </userSettings>
</configuration>