<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultKey_1" value="製品を選択して下さい"/>
    <add key="defaultFalue_1" value="configDefault"/>
    <add key="ProductCount" value="8"/>
    <add key="ProductName_1" value="BL認証"/>
    <add key="ProductName_2" value="SF.NS"/>
    <add key="ProductName_3" value="RC.NS"/>
    <add key="ProductName_4" value="PM.NS"/>
    <add key="ProductName_5" value="MK.NS"/>
    <add key="ProductName_6" value="MK.NS(テスト環境)"/>
    <add key="ProductName_7" value="TR.NS"/>
    <add key="ProductName_8" value="TR.NS(ポート違い)"/>
    <add key="File_1" value="BL_NSNetworkTest.bin"/>
    <add key="File_2" value="SF_NSNetworkTest.bin"/>
    <add key="File_3" value="RC_NSNetworkTest.bin"/>
    <add key="File_4" value="PM_NSNetworkTest.bin"/>
    <add key="File_5" value="MK_NSNetworkTest.bin"/>
    <add key="File_6" value="MK_NSNetworkTest2.bin"/>
    <add key="File_7" value="TR_NSNetworkTest.bin"/>
    <add key="File_8" value="TR_NSNetworkTest2.bin"/>
  </appSettings>
</configuration>