<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Broadleaf.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CustomFormatterXmlFileName" value="CustomFormatter.xml" />
    <!-- 在庫移動データ1件当たりの登録速度 -->
    <add key="RunVelocity" value="10" />
    <!-- 在庫移動抽出処理の処理割合 -->
    <add key="Step_Search" value="10%" />
    <!-- テキスト出力処理の処理割合 -->
    <add key="Step_Export" value="20%" />
    <!-- 部品MAXアップロードの処理割合 -->
    <add key="Step_Upload" value="35%" />
    <!-- 部品MAX状況監視の処理割合 -->
    <add key="Step_Monitor" value="35%" />
  </appSettings>
  <applicationSettings>
    <Broadleaf.Windows.Forms.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Broadleaf.Windows.Forms.Properties.Settings>
  </applicationSettings>
</configuration>