<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--使用するポート番号 サーバーの設定と同じにしてください。-->
		<add key="PortNumber" value="65000"/>
		<!--新着情報をチェックする時間間隔 (分単位)-->
		<add key="CheckInterval" value="5"/>
		<!--受信停止開始時間-->
		<add key="RcvCancelStartTime" value="0"/>
		<!--受信停止終了時間-->
		<add key="RcvCancelEndTime" value="0"/>
		<!--自動回答の情報を表示するかどうかの設定-->
		<add key="AutoAnswerView" value="0"/>
		<!--Webサービスエラー発生時の再試行待機時間(ミリ秒)-->
		<add key="RetryWaitTime" value="1000"/>
		<!--Webサービスエラー発生時の最大試行回数。-->
		<add key="RetryMaxCount" value="5"/>
		<!--ポップアップ処理で使用するポート番号 クライアントの設定と同じにしてください。-->
		<add key="PortNumber" value="65000"/>
		<!--監視する期間(日)-->
		<add key="WatchingSpan" value="1"/>
		<!-- ADD START 2012/08/24 三戸 2012/10月配信予定 SCM障害№10340 -->
		<!--回答モード "0":通常モード "1":手動回答モード-->
		<add key="AnswerMode" value="0"/>
		<!-- ADD END   2012/08/24 三戸 2012/10月配信予定 SCM障害№10340 -->
		<!-- ADD START 2014/10/17 T.Miyamoto 着信音対応 -->
		<add key="SoundMode" value="0"/>
		<add key="SoundTime" value="0"/>
		<add key="SoundPath" value=""/>
		<!-- ADD END   2014/10/17 T.Miyamoto 着信音対応 -->
	</appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="24" />
    </connectionManagement>
  </system.net>
</configuration>