<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />
  </configSections>
  <CustomSerializationSurrogates>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06411D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSecInfoSetWork">
      <Surrogate>
        <AssemblyName>PMKYO06411D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSecInfoSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06421D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSubSectionWork">
      <Surrogate>
        <AssemblyName>PMKYO06421D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSubSectionWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06431D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCEmployeeWork">
      <Surrogate>
        <AssemblyName>PMKYO06431D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCEmployeeWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06431D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCEmployeeDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO06431D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCEmployeeDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06441D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCWarehouseWork">
      <Surrogate>
        <AssemblyName>PMKYO06441D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCWarehouseWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustomerWork">
      <Surrogate>
        <AssemblyName>PMKYO06451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustomerWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustomerChangeWork">
      <Surrogate>
        <AssemblyName>PMKYO06451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustomerChangeWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustomerMemoWork">
      <Surrogate>
        <AssemblyName>PMKYO06451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustomerMemoWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustSlipMngWork">
      <Surrogate>
        <AssemblyName>PMKYO06451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustSlipMngWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustRateGroupWork">
      <Surrogate>
        <AssemblyName>PMKYO06451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustRateGroupWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCCustSlipNoSetWork">
      <Surrogate>
        <AssemblyName>PMKYO07451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCCustSlipNoSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06461D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSupplierWork">
      <Surrogate>
        <AssemblyName>PMKYO06461D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSupplierWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06471D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCMakerUWork">
      <Surrogate>
        <AssemblyName>PMKYO06471D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCMakerUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06481D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCBLGoodsCdUWork">
      <Surrogate>
        <AssemblyName>PMKYO06481D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCBLGoodsCdUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06491D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsUWork">
      <Surrogate>
        <AssemblyName>PMKYO06491D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06491D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsPriceUWork">
      <Surrogate>
        <AssemblyName>PMKYO06491D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsPriceUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06491D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsMngWork">
      <Surrogate>
        <AssemblyName>PMKYO06491D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsMngWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06491D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCIsolIslandPrcWork">
      <Surrogate>
        <AssemblyName>PMKYO06491D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCIsolIslandPrcWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06501D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockWork">
      <Surrogate>
        <AssemblyName>PMKYO06501D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06511D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCUserGdBdUWork">
      <Surrogate>
        <AssemblyName>PMKYO06511D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCUserGdBdUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06521D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCRateProtyMngWork">
      <Surrogate>
        <AssemblyName>PMKYO06521D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCRateProtyMngWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06531D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.RateWork">
      <Surrogate>
        <AssemblyName>PMKYO06531D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.RateWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06541D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsSetWork">
      <Surrogate>
        <AssemblyName>PMKYO06541D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06551D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCPartsSubstUWork">
      <Surrogate>
        <AssemblyName>PMKYO06551D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCPartsSubstUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06561D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCEmpSalesTargetWork">
      <Surrogate>
        <AssemblyName>PMKYO06561D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCEmpSalesTargetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06561D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCEmpSalesTargetWork">
      <Surrogate>
        <AssemblyName>PMKYO06561D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCEmpSalesTargetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06561D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGcdSalesTargetWork">
      <Surrogate>
        <AssemblyName>PMKYO06561D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGcdSalesTargetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06571D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsGroupUWork">
      <Surrogate>
        <AssemblyName>PMKYO06571D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsGroupUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06581D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCBLGroupUWork">
      <Surrogate>
        <AssemblyName>PMKYO06581D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCBLGroupUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06591D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCJoinPartsUWork">
      <Surrogate>
        <AssemblyName>PMKYO06591D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCJoinPartsUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06601D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCTBOSearchUWork">
      <Surrogate>
        <AssemblyName>PMKYO06601D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCTBOSearchUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06611D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCPartsPosCodeUWork">
      <Surrogate>
        <AssemblyName>PMKYO06611D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCPartsPosCodeUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06621D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCBLCodeGuideWork">
      <Surrogate>
        <AssemblyName>PMKYO06621D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCBLCodeGuideWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06631D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCModelNameUWork">
      <Surrogate>
        <AssemblyName>PMKYO06631D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCModelNameUWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
  </CustomSerializationSurrogates>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.MstDCControlDB,PMKYO06401R"  objectUri="MyAppMstDCControl" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="20022">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>