<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Broadleaf.Application.Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Broadleaf.Application.Controller.Properties.Settings>
            <setting name="PMUOE01030A_jp_mesaco_catalog_MeijiWebApp" serializeAs="String">
                <value>https://catalog.mesaco.jp/CatalogWebApp/Service.asmx</value>
            </setting>
            <setting name="PMUOE01030A_jp_mesaco_meijiweb_MeijiWebApp" serializeAs="String">
                <value>https://meijiweb2.mesaco.jp/CatalogWebApp/Service.asmx</value>
            </setting>
        </Broadleaf.Application.Controller.Properties.Settings>
    </applicationSettings>
</configuration>