<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.SettlementBillDelDB,PMTEG05105R"  objectUri="MyAppSettlementBillDel" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="8001">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>