<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />	
	</configSections>
	<CustomSerializationSurrogates>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMSDC02016D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.SalesCprtWork">
      <Surrogate>
        <AssemblyName>PMSDC02016D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.SalesCprtWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>

  </CustomSerializationSurrogates>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown type="Broadleaf.Application.Remoting.SalesCprtDB,PMSDC02018R"  objectUri="MyAppISalesCprt" mode="Singleton" />
			</service>
			<channels>
				<channel ref="http" port="9001">
					<serverProviders> 
						<formatter ref="binary" typeFilterLevel="Full"/>
						<provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />															
						<provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />						
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
