<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Broadleaf.RCDS.Web.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Broadleaf.RCDS.Web.Services.Properties.Settings>
      <setting name="AreaServiceURL" serializeAs="String">
        <value>http://rcds.bl-recycle.jp/webservice/areaservice.asmx</value>
      </setting>
      <setting name="KindServiceURL" serializeAs="String">
        <value>http://rcds.bl-recycle.jp/webservice/kindservice.asmx</value>
      </setting>
      <setting name="QualityServiceURL" serializeAs="String">
        <value>http://rcds.bl-recycle.jp/webservice/qualityservice.asmx</value>
      </setting>
      <setting name="SobaServiceURL" serializeAs="String">
        <value>http://rcds.bl-recycle.jp/webservice/sobaservice.asmx</value>
      </setting>
      <setting name="PartsDetailURLServiceURL" serializeAs="String">
        <value>http://rcds.bl-recycle.jp/webservice/partsdetailurlservice.asmx</value>
      </setting>
    </Broadleaf.RCDS.Web.Services.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--Webサービスエラー発生時の再試行待機時間(ミリ秒)-->
    <add key="RetryWaitTime" value="1000"/>
    <!--Webサービスエラー発生時の最大試行回数。-->
    <add key="RetryMaxCount" value="5"/>
    <!--ポップアップ処理で使用するポート番号 クライアントの設定と同じにしてください。-->
    <add key="PortNumber" value="65000"/>
    <!--監視する期間(日)-->
    <add key="WatchingSpan" value="1"/>
  </appSettings>
</configuration>