<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="7zCommand" value="D:\Program Files\7-Zip\7z.exe"/>
    <add key="BcpCommand" value="bcp.exe"/>
    <add key="SqlServer-Name" value="10.30.30.30"/>
    <add key="SqlServer-User" value="sa"/>
    <add key="SqlServer-Pass" value="Scm1881admin"/>
    <add key="task_0000000001" value="PM_USER_DB.dbo.COMPANYINFRF"/>
    <add key="task_0000000002" value="PM_USER_DB.dbo.SECINFOSETRF"/>
    <add key="task_0000000003" value="PM_USER_DB.dbo.TAXRATESETRF"/>
    <add key="task_0000000004" value="PM_USER_DB.dbo.SALESPROCMONEYRF"/>
    <add key="task_0000000005" value="PM_USER_DB.dbo.EMPLOYEERF"/>
    <add key="task_0000000006" value="PM_USER_DB.dbo.WAREHOUSERF"/>
    <add key="task_0000000007" value="PM_USER_DB.dbo.CUSTOMERRF"/>
    <add key="task_0000000008" value="PM_USER_DB.dbo.SUPPLIERRF"/>
    <add key="task_0000000009" value="PM_USER_DB.dbo.MAKERURF"/>
    <add key="task_0000000010" value="PM_USER_DB.dbo.STOCKPROCMONEYRF"/>
    <add key="task_0000000011" value="PM_USER_DB.dbo.BLGOODSCDURF"/>
    <add key="task_0000000012" value="PM_USER_DB.dbo.GOODSURF"/>
    <add key="task_0000000013" value="PM_USER_DB.dbo.GOODSPRICEURF"/>
    <add key="task_0000000014" value="PM_USER_DB.dbo.GOODSMNGRF"/>
    <add key="task_0000000015" value="PM_USER_DB.dbo.USERGDBDURF"/>
    <add key="task_0000000016" value="PM_USER_DB.dbo.RATEPROTYMNGRF"/>
    <add key="task_0000000017" value="PM_USER_DB.dbo.RATERF"/>
    <add key="task_0000000018" value="PM_USER_DB.dbo.GOODSSETRF"/>
    <add key="task_0000000019" value="PM_USER_DB.dbo.PARTSSUBSTURF"/>
    <add key="task_0000000020" value="PM_USER_DB.dbo.SALESTTLSTRF"/>
    <add key="task_0000000021" value="PM_USER_DB.dbo.GOODSGROUPURF"/>
    <add key="task_0000000022" value="PM_USER_DB.dbo.BLGROUPURF"/>
    <add key="task_0000000023" value="PM_USER_DB.dbo.CUSTRATEGROUPRF"/>
    <add key="task_0000000024" value="PM_USER_DB.dbo.JOINPARTSURF"/>
    <add key="task_0000000025" value="PM_USER_DB.dbo.TBOSEARCHURF"/>
    <add key="task_0000000026" value="PM_USER_DB.dbo.PRMSETTINGURF"/>
    <add key="task_0000000027" value="PM_USER_DB.dbo.MODELNAMEURF"/>
    <add key="task_0000000028" value="PM_USER_DB.dbo.ISOLISLANDPRCRF"/>
    <add key="task_0000000029" value="PM_USER_DB.dbo.SCMTTLSTRF"/>
    <add key="task_0000000030" value="PM_USER_DB.dbo.SCMPRIORSTRF"/>
    <add key="task_0000000031" value="PM_USER_DB.dbo.SCMDELIDATESTRF"/>
    <add key="task_0000000032" value="PM_USER_DB.dbo.CAMPAIGNMNGRF"/>
    <add key="task_0000000033" value="PM_USER_DB.dbo.CAMPAIGNSTRF"/>
    <add key="task_0000000034" value="PM_USER_DB.dbo.IMPORTANTPRTSTRF"/>
    <add key="task_0000000035" value="PM_USER_DB.dbo.PRICESELECTSETRF"/>
    <add key="task_0000000036" value="PM_USER_DB.dbo.FREESEARCHMODELRF"/>
    <add key="task_0000000037" value="PM_USER_DB.dbo.FREESEARCHPARTSRF"/>
    <add key="task_0000000038" value="PM_USER_DB.dbo.CAMPAIGNPRCPRSTRF"/>
    <add key="task_0000000039" value="PM_USER_DB.dbo.AUTOANSITEMSTRF"/>
    <add key="task_0000000040" value="PM_USER_DB.dbo.CAMPAIGNLINKRF"/>
    <add key="task_0000000041" value="PM_USER_DB.dbo.SCMRCVETGTINFRF"/>
    <add key="task_0000000042" value="PM_USER_DB.dbo.SALESSLIPRF"/>
    <add key="task_0000000043" value="PM_USER_DB.dbo.SALESDETAILRF"/>
    <add key="task_0000000044" value="PM_USER_DB.dbo.SCMACODRDATARF"/>
    <add key="task_0000000045" value="PM_USER_DB.dbo.SCMACODRDTLASRF"/>
    <add key="task_0000000046" value="PM_USER_DB.dbo.SCMACODRDTLIQRF"/>
    <add key="task_0000000047" value="PM_USER_DB.dbo.GOODSPRICEURF_20150319"/>
    <add key="task_0000000048" value="PM_USER_DB.dbo.GOODSPRICEURF_DEL_20150319"/>
    <add key="task_0000000049" value="PM_USER_DB.dbo.STOCKRF"/>
  </appSettings>
</configuration>