<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomFormatterXmlFileName" value="CustomFormatter.xml" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.IOWriteControlDB,DCHNB01864R"  objectUri="MyAppIOWriteControl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.SalesTempDB,DCHNB01854R"  objectUri="MyAppSalesTemp" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.IOWriteMAHNBDB,DCHNB01814R"  objectUri="MyAppIOWriteMAHNB" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.SalesSlipDB,DCHNB01824R"  objectUri="MyAppSalesSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.IOWriteMASIRDB,MAKON01814R"  objectUri="MyAppIOWriteMASIR" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.StockSlipDB,MAKON01824R"  objectUri="MyAppStockSlip" mode="Singleton" />

        <wellknown type="Broadleaf.Application.Remoting.DepositReadDB,SFUKK01452R"  objectUri="MyAppDepositRead" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DepsitMainDB,SFUKK01362R"  objectUri="MyAppDepsitMain" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.SeiKingetDB,SFUKK01312R"  objectUri="MySeiKinget" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.CAddUpSMngGetInfDB,SFUKK01331R"  objectUri="MyAppCAddUpSMng" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.ClaimSalesReadDB,MAHNB01214R"  objectUri="MyAppClaimSalesRead" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.MonthlyTtlSalesUpdDB,PMHNB01101R"  objectUri="MyAppMonthlyTtlSalesUpd" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.UsrJoinPartsSearchDB,PMKEN06062R"  objectUri="MyAppUsrJoinPartsSearch" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.IOWriteUOEOdrDtlDB,PMUOE01006R"  objectUri="MyAppIOWriteUOEOdrDtl" mode="Singleton" />

        <wellknown type="Broadleaf.Application.Remoting.OrderListRenewWorkDB,PMHAT02012R"  objectUri="MyAppOrderListRenewWork" mode="Singleton" />
        
        <wellknown type="Broadleaf.Application.Remoting.UOEStockUpdateDB,PMUOE01205R"  objectUri="MyAppUOEStockUpdate" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="9011">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
