<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CustomFormatterXmlFileName" value="CustomFormatter.xml" />
    <!-- 出品・一括更新データ1件当たりの登録速度 -->
    <add key="RunVelocity" value="10" />
    <!-- 出品・一括更新抽出処理の処理割合 -->
    <add key="Step_Search" value="10%" />
    <!-- テキスト出力処理の処理割合 -->
    <add key="Step_Export" value="20%" />
    <!-- 部品MAXアップロードの処理割合 -->
    <add key="Step_Upload" value="35%" />
    <!-- 部品MAX状況監視の処理割合 -->
    <add key="Step_Monitor" value="35%" />
  </appSettings>
</configuration>