<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--使用するポート番号 サーバーの設定と同じにしてください。-->
    <add key="PortNumber" value="65000"/>
    <!--自動回答の情報を表示するかどうかの設定-->
    <add key="SaleSlipCreateView" value="1"/>
    <!--Webサービスエラー発生時の再試行待機時間(ミリ秒)-->
    <add key="RetryWaitTime" value="1000"/>
    <!--Webサービスエラー発生時の最大試行回数。-->
    <add key="RetryMaxCount" value="5"/>
    <!--監視する期間(日)-->
    <add key="WatchingSpan" value="1"/>
    <!-- ADD 2013/10/08 SCM仕掛一覧№10579対応 >>>>>>>>>> -->
    <!--定刻キャッシュ処理時刻-->
    <add key="CachePunctual" value="9:00"/>
    <!-- ADD 2013/10/08 SCM仕掛一覧№10579対応 <<<<<<<<<< -->
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="24" />
    </connectionManagement>
  </system.net>
</configuration>