<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />
  </configSections>
  <CustomSerializationSurrogates>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07003D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APSecMngSetWork">
      <Surrogate>
        <AssemblyName>PMKYO07003D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APSecMngSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06003D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.SecMngSndRcvWork">
      <Surrogate>
        <AssemblyName>PMKYO06003D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.SecMngSndRcvWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06003D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APMSTSecMngSetWork">
      <Surrogate>
        <AssemblyName>PMKYO06003D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APMSTSecMngSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06003D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.SecMngSndRcvDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO06003D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.SecMngSndRcvDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07011D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APSalesSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07011D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APSalesSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07021D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APSalesDetailWork">
      <Surrogate>
        <AssemblyName>PMKYO07021D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APSalesDetailWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07031D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APSalesHistoryWork">
      <Surrogate>
        <AssemblyName>PMKYO07031D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APSalesHistoryWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07041D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APSalesHistDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07041D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APSalesHistDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07051D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APDepsitMainWork">
      <Surrogate>
        <AssemblyName>PMKYO07051D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APDepsitMainWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07061D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APDepsitDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07061D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APDepsitDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07071D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APStockSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07071D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APStockSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07081D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APStockDetailWork">
      <Surrogate>
        <AssemblyName>PMKYO07081D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APStockDetailWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07091D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APStockSlipHistWork">
      <Surrogate>
        <AssemblyName>PMKYO07091D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APStockSlipHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07111D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APPaymentSlpWork">
      <Surrogate>
        <AssemblyName>PMKYO07111D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APPaymentSlpWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07121D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APPaymentDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07121D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APPaymentDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07131D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APAcceptOdrWork">
      <Surrogate>
        <AssemblyName>PMKYO07131D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APAcceptOdrWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07141D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APAcceptOdrCarWork">
      <Surrogate>
        <AssemblyName>PMKYO07141D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APAcceptOdrCarWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07151D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APMTtlSalesSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07151D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APMTtlSalesSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07161D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APGoodsMTtlSaSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07161D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APGoodsMTtlSaSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07171D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APMTtlStockSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07171D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APMTtlStockSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07101D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.APStockSlHistDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07101D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.APStockSlHistDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKHN09457D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ObjAutoSetWork">
      <Surrogate>
        <AssemblyName>PMKHN09457D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.ObjAutoSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    
  </CustomSerializationSurrogates>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.ObjAutoSetControlDB,PMKHN09455R"  objectUri="MyAppObjAutoSetControl" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="20020">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>