<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />	
	</configSections>
	<CustomSerializationSurrogates>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.CompanyAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.CompanyAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EnterpriseInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EnterpriseInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ProductInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ProductInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ConnectionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ConnectionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.SoftwareInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.SoftwareInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.RoleInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.RoleInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.FunctionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.FunctionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.RemoteServiceInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.RemoteServiceInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DBEncryptionInfoWork">
      <Surrogate>
        <AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DBEncryptionInfoWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00664D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EmployeeAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00664D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EmployeeAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00694D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ClientAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00694D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ClientAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFTOK09386D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EmployeeWork">
			<Surrogate>
				<AssemblyName>SFTOK09386D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EmployeeWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
	</CustomSerializationSurrogates>
  <appSettings>
    <add key="MenuImageCount" value="8"/>
    <add key="MenuImagePath_1" value="MenuImage\Sky\"/>
    <add key="MenuImageName_1" value="空"/>
    <add key="MenuImagePath_2" value="MenuImage\Crystal\"/>
    <add key="MenuImageName_2" value="クリスタル"/>
    <add key="MenuImagePath_3" value="MenuImage\Ocean\"/>
    <add key="MenuImageName_3" value="深海"/>
    <add key="MenuImagePath_4" value="MenuImage\Circle\"/>
    <add key="MenuImageName_4" value="サークル"/>
    <add key="MenuImagePath_5" value="MenuImage\Puzzle\"/>
    <add key="MenuImageName_5" value="パズル"/>
    <add key="MenuImagePath_6" value="MenuImage\Water\"/>
    <add key="MenuImageName_6" value="水玉"/>
    <add key="MenuImagePath_7" value="MenuImage\Metal\"/>
    <add key="MenuImageName_7" value="金属"/>
    <add key="MenuImagePath_8" value="MenuImage\Leaf\"/>
    <add key="MenuImageName_8" value="葉っぱ"/>
  </appSettings>
</configuration>
