<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />
  </configSections>
  <CustomSerializationSurrogates>
    
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKHN07007D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.PostCustomerWork">
      <Surrogate>
        <AssemblyName>PMKHN07007D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.PostCustomerWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKHN07007D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.PostSecInfoSetWork">
      <Surrogate>
        <AssemblyName>PMKHN07007D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.PostSecInfoSetWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    
  </CustomSerializationSurrogates>

  
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.UseMastDB,PMKHN07005R"  objectUri="MyAppUseMast" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="8009">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>
