<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />
  </configSections>
  <CustomSerializationSurrogates>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07403D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCReceiveDataWork">
      <Surrogate>
        <AssemblyName>PMKYO07403D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCReceiveDataWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07411D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSalesSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07411D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSalesSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07421D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSalesDetailWork">
      <Surrogate>
        <AssemblyName>PMKYO07421D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSalesDetailWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07431D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSalesHistoryWork">
      <Surrogate>
        <AssemblyName>PMKYO07431D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSalesHistoryWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07441D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCSalesHistDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07441D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCSalesHistDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07451D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCDepsitMainWork">
      <Surrogate>
        <AssemblyName>PMKYO07451D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCDepsitMainWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07461D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCDepsitDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07461D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCDepsitDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07471D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07471D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07481D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockDetailWork">
      <Surrogate>
        <AssemblyName>PMKYO07481D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockDetailWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07491D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockSlipHistWork">
      <Surrogate>
        <AssemblyName>PMKYO07491D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockSlipHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07501D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockSlHistDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07501D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockSlHistDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07511D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCPaymentSlpWork">
      <Surrogate>
        <AssemblyName>PMKYO07511D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCPaymentSlpWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07521D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCPaymentDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO07521D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCPaymentDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07531D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCAcceptOdrWork">
      <Surrogate>
        <AssemblyName>PMKYO07531D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCAcceptOdrWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07541D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCAcceptOdrCarWork">
      <Surrogate>
        <AssemblyName>PMKYO07541D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCAcceptOdrCarWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07551D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCMTtlSalesSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07551D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCMTtlSalesSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07561D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCGoodsMTtlSaSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07561D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCGoodsMTtlSaSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07571D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCMTtlStockSlipWork">
      <Surrogate>
        <AssemblyName>PMKYO07571D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCMTtlStockSlipWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
	  <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06641D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockAdjustWork">
      <Surrogate>
        <AssemblyName>PMKYO06641D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAdjustWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
	  <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06651D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockAdjustDtlWork">
      <Surrogate>
        <AssemblyName>PMKYO06651D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAdjustDtlWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
	  <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06661D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockMoveWork">
      <Surrogate>
        <AssemblyName>PMKYO06661D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockMoveWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
	  <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO06671D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCStockAcPayHistWork">
      <Surrogate>
        <AssemblyName>PMKYO06671D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAcPayHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07581D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCDepositAlwWork">
      <Surrogate>
        <AssemblyName>PMKYO07581D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAcPayHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07591D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCRcvDraftDataWork">
      <Surrogate>
        <AssemblyName>PMKYO07591D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAcPayHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="PMKYO07601D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DCPayDraftDataWork">
      <Surrogate>
        <AssemblyName>PMKYO07601D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.DCStockAcPayHistWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
  </CustomSerializationSurrogates>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.DCControlDB,PMKYO07401R"  objectUri="MyAppDCControl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCSalesSlipDB,PMKYO07410R"  objectUri="MyAppDCSalesSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCSalesDetailDB,PMKYO07420R"  objectUri="MyAppDCSalesDetail" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCSalesHistoryDB,PMKYO07430R"  objectUri="MyAppDCSalesHistory" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCSalesHistDtlDB,PMKYO07440R"  objectUri="MyAppDCSalesHistDtl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCDepsitMainDB,PMKYO07450R"  objectUri="MyAppDCDepsitMain" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCDepsitDtlDB,PMKYO07460R"  objectUri="MyAppDCDepsitDtl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockSlipDB,PMKYO07470R"  objectUri="MyAppDCStockSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockDetailDB,PMKYO07480R"  objectUri="MyAppDCStockDetail" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockSlipHistDB,PMKYO07490R"  objectUri="MyAppDCStockSlipHist" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockSlHistDtlDB,PMKYO07500R"  objectUri="MyAppDCStockSlHistDtl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCPaymentSlpDB,PMKYO07510R"  objectUri="MyAppDCPaymentSlp" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCPaymentDtlDB,PMKYO07520R"  objectUri="MyAppDCPaymentDtl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCAcceptOdrDB,PMKYO07530R"  objectUri="MyAppDCAcceptOdr" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCAcceptOdrCarDB,PMKYO07540R"  objectUri="MyAppDCAcceptOdrCar" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCMTtlSalesSlipDB,PMKYO07550R"  objectUri="MyAppDCMTtlSalesSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCGoodsMTtlSaSlipDB,PMKYO07560R"  objectUri="MyAppDCGoodsMTtlSaSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCMTtlStockSlipDB,PMKYO07570R"  objectUri="MyAppDCMTtlStockSlip" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockAdjustDB,PMKYO06640R"  objectUri="MyAppDCStockAdjust" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockAdjustDtlDB,PMKYO06650R"  objectUri="MyAppDCStockAdjustDtl" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockMoveDB,PMKYO06660R"  objectUri="MyAppDCStockMove" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCStockAcPayHistDB,PMKYO06670R"  objectUri="MyAppDCStockAcPayHist" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCDepositAlwDB,PMKYO07580R"  objectUri="MyAppDCDepositAlw" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCRcvDraftDataDB,PMKYO07590R"  objectUri="MyAppDCRcvDraftData" mode="Singleton" />
        <wellknown type="Broadleaf.Application.Remoting.DCPayDraftDataDB,PMKYO07600R"  objectUri="MyAppDCPayDraftData" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="9011">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>