<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSerializationSurrogates" type="Tsubasa.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />	
	</configSections>
	<CustomSerializationSurrogates>                           

		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.CompanyAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.CompanyAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.EnterpriseInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.EnterpriseInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.ProductInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.ProductInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.ConnectionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.ConnectionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.SoftwareInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.SoftwareInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.RoleInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.RoleInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.FunctionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.FunctionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.RemoteServiceInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.RemoteServiceInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>			
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00664D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.EmployeeAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00664D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.EmployeeAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00694D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.ClientAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00694D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.ClientAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFTOK09386D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.EmployeeWork">
			<Surrogate>
				<AssemblyName>SFTOK09386D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Tsubasa.Application.Remoting.ParamData.EmployeeWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>




    <CustomSerializationSurrogate TargetAssemblyShortName="SFSIR02140D" TargetTypeName="Tsubasa.Application.Remoting.ParamData.PaymentSlpWork">
      <Surrogate>
        <AssemblyName>SFSIR02140D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Tsubasa.Application.Remoting.ParamData.PaymentSlpWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>

  </CustomSerializationSurrogates>

</configuration>

