<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CustomInstaller.Properties.Settings>
            <setting name="UbauControl_www_broadleaf_co_jp_UBAWebService"
                serializeAs="String">
                <value>http://www32.superfrontman.net/ubawebservice/ubawebservice.asmx</value>
            </setting>
        </CustomInstaller.Properties.Settings>
    </applicationSettings>
</configuration>