<?xml version="1.0" standalone="yes"?>
<Config>
  <Conv>
    <TableNm>自社情報マスタ</TableNm>
    <TableId>COMPANYINFRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>請求全体設定マスタ</TableNm>
    <TableId>BILLALLSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫管理全体設定マスタ</TableNm>
    <TableId>STOCKMNGTTLSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入在庫全体設定マスタ</TableNm>
    <TableId>STOCKTTLSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上金額処理区分設定マスタ</TableNm>
    <TableId>SALESPROCMONEYRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入金額処理区分設定マスタ</TableNm>
    <TableId>STOCKPROCMONEYRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>全体項目表示名称マスタ</TableNm>
    <TableId>ALITMDSPNMRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上全体設定マスタ</TableNm>
    <TableId>SALESTTLSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>ユーザーガイドマスタ（ボディ）（ユーザ変更分）</TableNm>
    <TableId>USERGDBDURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>自社名称マスタ</TableNm>
    <TableId>COMPANYNMRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>拠点情報設定マスタ</TableNm>
    <TableId>SECINFOSETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>従業員マスタ</TableNm>
    <TableId>EMPLOYEERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>従業員詳細マスタ</TableNm>
    <TableId>EMPLOYEEDTLRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>従業員別売上目標設定マスタ</TableNm>
    <TableId>EMPSALESTARGETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先別売上目標設定マスタ</TableNm>
    <TableId>CUSTSALESTARGETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>商品別売上目標設定マスタ</TableNm>
    <TableId>GCDSALESTARGETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先マスタ</TableNm>
    <TableId>CUSTOMERRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先マスタ(変動情報）</TableNm>
    <TableId>CUSTOMERCHANGERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先マスタ（伝票番号）</TableNm>
    <TableId>CUSTSLIPNOSETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先マスタ（掛率グループ）</TableNm>
    <TableId>CUSTRATEGROUPRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入先マスタ</TableNm>
    <TableId>SUPPLIERRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>休業日設定マスタ</TableNm>
    <TableId>HOLIDAYSETTINGRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先マスタ(総括設定)</TableNm>
    <TableId>SUMCUSTSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>商品マスタ（ユーザー登録分）</TableNm>
    <TableId>GOODSURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>価格マスタ</TableNm>
    <TableId>GOODSPRICEURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>商品管理情報マスタ</TableNm>
    <TableId>GOODSMNGRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>メーカーマスタ(ユーザー登録分）</TableNm>
    <TableId>MAKERURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>ＢＬ商品コードマスタ（ユーザー）</TableNm>
    <TableId>BLGOODSCDURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>ＢＬグループマスタ(ユーザー登録分）</TableNm>
    <TableId>BLGROUPURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>結合マスタ(ユーザー登録）</TableNm>
    <TableId>JOINPARTSURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>商品セットマスタ</TableNm>
    <TableId>GOODSSETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>部位コードマスタ（ユーザー登録）</TableNm>
    <TableId>PARTSPOSCODEURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>離島価格マスタ</TableNm>
    <TableId>ISOLISLANDPRCRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>優良設定マスタ（ユーザー登録分）</TableNm>
    <TableId>PRMSETTINGURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>部品代替マスタ（ユーザー登録分）</TableNm>
    <TableId>PARTSSUBSTURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>掛率マスタ</TableNm>
    <TableId>RATERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫マスタ</TableNm>
    <TableId>STOCKRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>倉庫マスタ</TableNm>
    <TableId>WAREHOUSERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>車種マスタ（ユーザー登録）</TableNm>
    <TableId>MODELNAMEURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>UOE発注先マスタ</TableNm>
    <TableId>UOESUPPLIERRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>UOE自社設定マスタ</TableNm>
    <TableId>UOESETTINGRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>UOEガイド名称マスタ</TableNm>
    <TableId>UOEGUIDENAMERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>車輌管理マスタ</TableNm>
    <TableId>CARMANAGEMENTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>TBO検索マスタ</TableNm>
    <TableId>TBOSEARCHURF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>BLコードガイドマスタ</TableNm>
    <TableId>BLCODEGUIDERF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>自由検索型式マスタ</TableNm>
    <TableId>FREESEARCHMODELRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>自由検索部品マスタ</TableNm>
    <TableId>FREESEARCHPARTSRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>標準価格選択設定マスタ</TableNm>
    <TableId>PRICESELECTSETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>備考ガイドマスタ</TableNm>
    <TableId>NOTEGUIDBDRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>キャンペーン設定マスタ</TableNm>
    <TableId>CAMPAIGNSTRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>キャンペーン管理マスタ</TableNm>
    <TableId>CAMPAIGNMNGRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>キャンペーン目標設定マスタ</TableNm>
    <TableId>CAMPAIGNTARGETRF</TableId>
    <ConvKind>0</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上・受注・貸出・車輌データ</TableNm>
    <TableId>SALESSLIPRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>3</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上明細データ</TableNm>
    <TableId>SALESDETAILRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>3</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上履歴データ</TableNm>
    <TableId>SALESHISTORYRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上履歴明細データ</TableNm>
    <TableId>SALESHISTDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>受注マスタ（車輌）</TableNm>
    <TableId>ACCEPTODRCARRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>4</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>車輌部品データ（コンバート）</TableNm>
    <TableId>CNVCARPARTSRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>入金データ</TableNm>
    <TableId>DEPSITMAINRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>入金明細データ</TableNm>
    <TableId>DEPSITDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入データ</TableNm>
    <TableId>STOCKSLIPRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入明細データ</TableNm>
    <TableId>STOCKDETAILRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入履歴データ</TableNm>
    <TableId>STOCKSLIPHISTRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入履歴明細データ</TableNm>
    <TableId>STOCKSLHISTDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>支払データ</TableNm>
    <TableId>PAYMENTSLPRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>支払明細データ</TableNm>
    <TableId>PAYMENTDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫移動データ</TableNm>
    <TableId>STOCKMOVERF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫調整データ</TableNm>
    <TableId>STOCKADJUSTRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫調整明細データ</TableNm>
    <TableId>STOCKADJUSTDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫受払データ</TableNm>
    <TableId>STOCKACPAYHISTRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先請求金額マスタ</TableNm>
    <TableId>CUSTDMDPRCRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>請求締更新履歴マスタ</TableNm>
    <TableId>DMDCADDUPHISRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>請求入金集計データ</TableNm>
    <TableId>DMDDEPOTOTALRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入先支払金額マスタ</TableNm>
    <TableId>SUPLIERPAYRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>支払締更新履歴マスタ</TableNm>
    <TableId>PAYMENTADDUPHISRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>精算支払集計データ</TableNm>
    <TableId>ACCPAYTOTALRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>得意先売掛金額マスタ</TableNm>
    <TableId>CUSTACCRECRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売掛入金集計データ</TableNm>
    <TableId>ACCRECDEPOTOTALRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>月次締更新履歴データ</TableNm>
    <TableId>MONTHLYADDUPHISRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>2</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入先買掛金額マスタ</TableNm>
    <TableId>SUPLACCPAYRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>買掛支払集計データ</TableNm>
    <TableId>ACALCPAYTOTALRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>在庫履歴データ</TableNm>
    <TableId>STOCKHISTORYRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上月次集計データ</TableNm>
    <TableId>MTTLSALESSLIPRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入月次集計データ</TableNm>
    <TableId>MTTLSTOCKSLIPRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>商品別売上月次集計データ</TableNm>
    <TableId>GOODSMTTLSASLIPRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>売上仕入月次集計データ</TableNm>
    <TableId>MTTLSALESSTOCKSLIPRF</TableId>
    <ConvKind>2</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>受注マスタ</TableNm>
    <TableId>ACCEPTODRRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>5</CsvCount>
    <Result></Result>
  </Conv>
  <Conv>
    <TableNm>受取手形データ</TableNm>
    <TableId>RCVDRAFTDATARF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>支払手形データ</TableNm>
    <TableId>PAYDRAFTDATARF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
  <Conv>
    <TableNm>仕入チェックデータ（明細）</TableNm>
    <TableId>STOCKCHECKDTLRF</TableId>
    <ConvKind>1</ConvKind>
    <PrevResult>0</PrevResult>
    <CsvCount>1</CsvCount>
    <Result />
  </Conv>
</Config>