<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomFormatterXmlFileName" value="CustomFormatter.xml" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Broadleaf.Application.Remoting.UOESettingDB,PMUOE09044R"  objectUri="MyAppUOESetting" mode="Singleton" />
      </service>
      <channels>
        <channel ref="http" port="9001">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
            <provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>

<!--
    //↓をCustomFormatter.xml に追記
	<CustomSerializationSurrogate>
		<TargetAssemblyShortName>PMUOE09046D</TargetAssemblyShortName>
		<TargetTypeName>Broadleaf.Application.Remoting.ParamData.UOESettingWork</TargetTypeName>
		<SurrogateAssemblyName>PMUOE09046D, Version=8.10.1.0, Culture=neutral, PublicKeyToken=null</SurrogateAssemblyName>
		<SurrogateTypeName>Broadleaf.Application.Remoting.ParamData.UOESettingWork_SerializationSurrogate_For_V51010</SurrogateTypeName>
	</CustomSerializationSurrogate>
-->
