<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailSndMngDBUrl" value="http://localhost:8008/MyAppMailSndMng"/>
		
		
		
		
		
		
	</appSettings>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="Broadleaf.Application.Remoting.MailSndMngDB,SFDML09064R" url="http://localhost:8001/MyAppMailSndMng" />
			</client>
			<channels>
				<channel ref="http">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>				
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
