<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSerializationSurrogates" type="Broadleaf.Library.Runtime.Serialization.CustomSurrogateSectionHandler, SFCMN00018C, Culture=Neutral, Version=5.10.1.0, publicKeyToken=null" />	
	</configSections>
	<CustomSerializationSurrogates>                           
		<CustomSerializationSurrogate TargetAssemblyShortName="MACMN00106D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.GoodsUnitDataWork">
			<Surrogate>
				<AssemblyName>MACMN00106D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.GoodsUnitDataWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="MACMN00106D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.GoodsURelationDataWork">
      <Surrogate>
        <AssemblyName>MACMN00106D, Version=8.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
        <TypeName>Broadleaf.Application.Remoting.ParamData.GoodsURelationDataWork_SerializationSurrogate_For_V51010</TypeName>
      </Surrogate>
    </CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.CompanyAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.CompanyAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ConnectionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ConnectionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.DBEncryptionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.DBEncryptionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EnterpriseInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EnterpriseInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.FunctionInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.FunctionInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ProductInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ProductInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.RemoteServiceInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.RemoteServiceInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.RoleInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.RoleInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00654D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.SoftwareInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00654D, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.SoftwareInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>
    <CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00664D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EmployeeAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00664D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EmployeeAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>	
		<CustomSerializationSurrogate TargetAssemblyShortName="SFTOK09386D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.EmployeeWork">
			<Surrogate>
				<AssemblyName>SFTOK09386D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.EmployeeWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>			
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00694D" TargetTypeName="Broadleaf.Application.Remoting.ParamData.ClientAuthInfoWork">
			<Surrogate>
				<AssemblyName>SFCMN00694D, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Application.Remoting.ParamData.ClientAuthInfoWork_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>				
		<CustomSerializationSurrogate TargetAssemblyShortName="SFCMN00021C" TargetTypeName="Broadleaf.Library.Collections.CustomSerializeArrayList">
			<Surrogate>
				<AssemblyName>SFCMN00021C, Version=5.10.1.0, Culture=neutral, publicKeyToken=null</AssemblyName>
				<TypeName>Broadleaf.Library.Collections.CustomSerializeArrayList_SerializationSurrogate_For_V51010</TypeName>
			</Surrogate>
		</CustomSerializationSurrogate>				
	</CustomSerializationSurrogates>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown type="Broadleaf.Application.Remoting.GoodsURelationDataDB,MACMN00104R"  objectUri="MyAppGoodsURelationData" mode="Singleton" />
			</service>
			<channels>
				<channel ref="http" port="9001">
					<serverProviders> 
						<formatter ref="binary" typeFilterLevel="Full"/>
						<provider type="Broadleaf.Library.Runtime.LoginInfoServerCustomFormatterSinkProvider, SFCMN00693C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />															
						<provider type="Broadleaf.Library.Runtime.Serialization.ServerCustomFormatterSinkProvider, SFCMN00018C, Version=5.10.1.0, Culture=neutral, PublicKeyToken=null" />						
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
